In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('day4_guard_duty.csv', names=['duty'])

In [3]:
data.head(10)

                                          duty
0  [1518-11-13 00:04] Guard #2411 begins shift
1                  [1518-09-18 00:43] wakes up
2  [1518-08-29 23:57] Guard #1871 begins shift
3                  [1518-03-13 00:56] wakes up
4   [1518-11-13 23:56] Guard #947 begins shift
5              [1518-05-31 00:54] falls asleep
6              [1518-11-10 00:40] falls asleep
7              [1518-05-16 00:39] falls asleep
8   [1518-03-05 00:01] Guard #967 begins shift
9   [1518-09-14 00:04] Guard #631 begins shift

In [ ]:
pd.DataFrame.rename()

In [84]:
data['date'] = data.duty.str.extract('\[(\d\d\d\d\-\d\d\-\d\d \d\d:\d\d)\]',expand=False)

In [85]:
data.head()

                                          duty              date
0  [1518-11-13 00:04] Guard #2411 begins shift  1518-11-13 00:04
1                  [1518-09-18 00:43] wakes up  1518-09-18 00:43
2  [1518-08-29 23:57] Guard #1871 begins shift  1518-08-29 23:57
3                  [1518-03-13 00:56] wakes up  1518-03-13 00:56
4   [1518-11-13 23:56] Guard #947 begins shift  1518-11-13 23:56

In [86]:
data['sleep'] = data.duty.apply(lambda x: 'falls asleep' in x)

In [87]:
data.head(6)

                                          duty              date  sleep
0  [1518-11-13 00:04] Guard #2411 begins shift  1518-11-13 00:04  False
1                  [1518-09-18 00:43] wakes up  1518-09-18 00:43  False
2  [1518-08-29 23:57] Guard #1871 begins shift  1518-08-29 23:57  False
3                  [1518-03-13 00:56] wakes up  1518-03-13 00:56  False
4   [1518-11-13 23:56] Guard #947 begins shift  1518-11-13 23:56  False
5              [1518-05-31 00:54] falls asleep  1518-05-31 00:54   True

In [89]:
data['wake'] = data.duty.apply(lambda x: 'wakes up' in x)

In [90]:
data.head()

                                          duty              date  sleep   wake
0  [1518-11-13 00:04] Guard #2411 begins shift  1518-11-13 00:04  False  False
1                  [1518-09-18 00:43] wakes up  1518-09-18 00:43  False   True
2  [1518-08-29 23:57] Guard #1871 begins shift  1518-08-29 23:57  False  False
3                  [1518-03-13 00:56] wakes up  1518-03-13 00:56  False   True
4   [1518-11-13 23:56] Guard #947 begins shift  1518-11-13 23:56  False  False

In [10]:
guard = data.duty.apply(lambda x: 'Guard' in x)

In [11]:
guard.head()

0     True
1    False
2     True
3    False
4     True
Name: duty, dtype: bool

In [94]:
data['guardNumber'] = data.duty[guard].str.extract('Guard #(\d*)', expand=False).astype(np.float_)

In [96]:
data.head()

,duty,date,sleep,wake,guardNumber
0,[1518-11-13 00:04] Guard #2411 begins shift,1518-11-13 00:04,False,False,2411.0
1,[1518-09-18 00:43] wakes up,1518-09-18 00:43,False,True,NaN
2,[1518-08-29 23:57] Guard #1871 begins shift,1518-08-29 23:57,False,False,1871.0
3,[1518-03-13 00:56] wakes up,1518-03-13 00:56,False,True,NaN
4,[1518-11-13 23:56] Guard #947 begins shift,1518-11-13 23:56,False,False,947.0

In [97]:
def conv(x):
    return pd.Period(year = int(x[:4]), month = int(x[5:7]), day = int(x[8:10]), hour = int(x[11:13]), minute = int(x[14:16]), freq='min')

In [121]:
data.date = data.date.apply(conv)

In [122]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1140 entries, 568 to 266
Data columns (total 5 columns):
duty           1140 non-null object
date           1140 non-null object
sleep          1140 non-null bool
wake           1140 non-null bool
guardNumber    1140 non-null int32
dtypes: bool(2), int32(1), object(2)
memory usage: 73.4+ KB

In [103]:
any(data.guardNumber.values==0)

False

In [104]:
data.guardNumber.fillna(value=0,inplace=True)

In [106]:
data.guardNumber = data.guardNumber.astype(np.int_)

In [108]:
data.sort_values(by='date', inplace=True)

In [237]:
tmp = data.reset_index(drop=True)

In [238]:
tmp.head()

,duty,date,sleep,wake,guardNumber
0,[1518-02-01 00:02] Guard #137 begins shift,1518-02-01 00:02,False,False,137
1,[1518-02-01 00:39] falls asleep,1518-02-01 00:39,True,False,0
2,[1518-02-01 00:55] wakes up,1518-02-01 00:55,False,True,0
3,[1518-02-01 23:56] Guard #2441 begins shift,1518-02-01 23:56,False,False,2441
4,[1518-02-02 23:49] Guard #3251 begins shift,1518-02-02 23:49,False,False,3251

In [242]:
for i in tmp[tmp.guardNumber==137].index:
    print(tmp.loc[i+1].date.minute,tmp.loc[i+2].date.minute)

39 55
31 54
9 56
38 46
18 47
13 24
43 58
14 47
25 52
36 42
19 51
1 46
13 54
34 51
4 51
22 49
24 33
33 49
2 7

In [198]:
guardSleep = {}
for row in data.itertuples():
    if row.guardNumber is not 0:
        gn = row.guardNumber
        continue
    if row.sleep:
        sleepStart = row.date.minute
        continue
    if row.wake:
        sleepEnd = row.date.minute
        if guardSleep.get(gn) is None:
            guardSleep[gn] = [list(range(sleepStart,sleepEnd))]
        else:
            guardSleep[gn].append(list(range(sleepStart,sleepEnd)))

In [244]:
list(guardSleep.values())[0]

[[39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54],
 [31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52,
  53],
 [9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52,
  53,
  54,
  55],
 [38, 39, 40, 41, 42, 43, 44, 45],
 [18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46],
 [13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23],
 [42, 43, 44, 45, 46, 47],
 [43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57],
 [14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46],
 [54, 55, 56, 57],
 [25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51],
 [36, 37, 38, 39, 40, 41],
 [46, 47, 48, 49, 50],
 [19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50],
 [1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45],
 [13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52,
  53],
 [34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50],
 [4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50],
 [22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48],
 [24, 25, 26, 27, 28, 29, 30, 31, 32],
 [33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48],
 [2, 3, 4, 5, 6],
 [27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39]]

In [199]:
import itertools

In [245]:
minSleep, mostSleepMin = ([] for _ in range(2))
for key, value in guardSleep.items():
    sleepTime = np.asarray(list(itertools.chain.from_iterable(value)))
    minSleep.append(len(sleepTime))
    mostSleepMin.append(0)
    count = 0
    for i in range(60):
        if sum(sleepTime==i)>count:
            mostSleepMin[-1] = i
            count = sum(sleepTime==i)

In [246]:
for a,b,c in zip(guardSleep.keys(),minSleep,mostSleepMin):
    print(a,b,c)

137 482 39
3251 425 44
479 359 29
1871 397 49
811 438 50
967 301 15
3221 348 39
3347 406 13
2741 227 33
1213 186 47
2351 520 36
83 250 41
631 202 31
1999 357 35
1151 279 44
2411 356 20
503 211 35
1297 290 47
947 352 33
617 299 36

In [247]:
mostSleep = np.asarray(minSleep).argmax()

In [248]:
print(list(guardSleep.keys())[mostSleep],minSleep[mostSleep],mostSleepMin[mostSleep])

2351 520 36

In [249]:
print(list(guardSleep.keys())[mostSleep]*mostSleepMin[mostSleep])

84636

In [254]:
mostFreqMin = []; minSleepCount = []
for key, value in guardSleep.items():
    sleepTime = np.asarray(list(itertools.chain.from_iterable(value)))
    mostFreqMin.append(0)
    minSleepCount.append(0)
    count = 0
    for i in range(60):
        totMin = sum(sleepTime==i)
        if totMin>count:
            mostFreqMin[-1] = i
            minSleepCount[-1] = totMin
            count = totMin

In [257]:
maxMin = np.asarray(minSleepCount).argmax()

In [258]:
maxMin

3

In [260]:
print(list(guardSleep.keys())[maxMin]*mostFreqMin[maxMin])

91679